---
import Layout from "../layouts/Layout.astro";
import { isLoggedIn } from "../utils/isLoggedIn";

const cookie = Astro.request.headers.get('cookie');

if (!isLoggedIn(cookie)) {
  return Astro.redirect('/login');
}

---

<Layout title="Dashboard">
  <main>
    <h1>Welcome to the password manager</h1>

    <input type="text" placeholder="Search for a password" />
    <button>Search</button>

    <ul>
      <li>
        <h2>Facebook</h2>
        <p>password</p>
      </li>
      <li>
        <h2>Twitter</h2>
        <p>password</p>
      </li>
      <li>
        <h2>Instagram</h2>
        <p>password</p>
      </li>
    </ul>

    <form>utils
      <input type="text" placeholder="Name of the page" />
      <input type="password" placeholder="Password" />
      <button>Add Password</button>
    </form>
  </main>
</Layout>
